.app-wrapper {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.list-group-item {
  background-color: #282c34;
}

.main-head {
  grid-area: header;
  background-color: cadetblue;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;
}

.app-wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.app-logo {
  height: 75px;
  width: 75px;
}
.rbt.clearfix.open {
  display: inline-block;
}

@media(max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .avatar {
    width: 25px !important;
  }
}

.avatar {
  width: 50px;
}