.app-wrapper {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;
}

.app-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.app-logo {
  height: 75px;
  width: 75px;
}